body {
    background-color: #ffffff;
}

p {
    text-align: center;
}

#Reset-Button-Container {
    height: 120px; /* גובה הכפתור */
    position: relative; /* יישום על המסך */
    /* border: 3px solid black; */
}

#Center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#Reset-Game {
    font-size: 28px; /* גודל הטקסט בכפתור */
    padding: 15px 40px; /* מרווחים בתוך הכפתור */
    border-radius: 30px; /* עיגול פינות הכפתור */
    border: none; /* הסרת גבולות מסביב לכפתור */
    cursor: pointer; /* שינוי העכבר לסמן היד */
    background-color: rgb(0, 0, 255); /* רקע בצבע צהוב */
    color: white; /* צבע הטקסט */
    align-self: center; /* מיקום הכפתור באמצע המסך */
}

#Reset-Game:hover {
    border-radius: 40px; /* עיגול פינות הכפתור בעת העכבר מעליו */
    background-color: rgb(0, 119, 255); /* שינוי רקע הכפתור בעת העכבר מעליו */
}

table {
    /* align to center the table to the middle of the screen */
    align-self: center;
    margin-top: 100px;
    border-collapse: collapse;
}

td {
    width: 90px;
    height: 90px;
    border: 3px solid black;
    text-align: center;
}

img {
    width: 80px;
    height: 80px;
}